In [1]:
#importing libraries
import pandas as pd
import numpy as np
import pickle

In [2]:
# Reading dataset
dataset = pd.read_csv("50_Startups.csv")

In [3]:
dataset

    R&D Spend  Administration  Marketing Spend       State     Profit
0   165349.20       136897.80        471784.10    New York  192261.83
1   162597.70       151377.59        443898.53  California  191792.06
2   153441.51       101145.55        407934.54     Florida  191050.39
3   144372.41       118671.85        383199.62    New York  182901.99
4   142107.34        91391.77        366168.42     Florida  166187.94
5   131876.90        99814.71        362861.36    New York  156991.12
6   134615.46       147198.87        127716.82  California  156122.51
7   130298.13       145530.06        323876.68     Florida  155752.60
8   120542.52       148718.95        311613.29    New York  152211.77
9   123334.88       108679.17        304981.62  California  149759.96
10  101913.08       110594.11        229160.95     Florida  146121.95
11  100671.96        91790.61        249744.55  California  144259.40
12   93863.75       127320.38        249839.44     Florida  141585.52
13   91992.39       135495.07        252664.93  California  134307.35
14  119943.24       156547.42        256512.92     Florida  132602.65
15  114523.61       122616.84        261776.23    New York  129917.04
16   78013.11       121597.55        264346.06  California  126992.93
17   94657.16       145077.58        282574.31    New York  125370.37
18   91749.16       114175.79        294919.57     Florida  124266.90
19   86419.70       153514.11             0.00    New York  122776.86
20   76253.86       113867.30        298664.47  California  118474.03
21   78389.47       153773.43        299737.29    New York  111313.02
22   73994.56       122782.75        303319.26     Florida  110352.25
23   67532.53       105751.03        304768.73     Florida  108733.99
24   77044.01        99281.34        140574.81    New York  108552.04
25   64664.71       139553.16        137962.62  California  107404.34
26   75328.87       144135.98        134050.07     Florida  105733.54
27   72107.60       127864.55        353183.81    New York  105008.31
28   66051.52       182645.56        118148.20     Florida  103282.38
29   65605.48       153032.06        107138.38    New York  101004.64
30   61994.48       115641.28         91131.24     Florida   99937.59
31   61136.38       152701.92         88218.23    New York   97483.56
32   63408.86       129219.61         46085.25  California   97427.84
33   55493.95       103057.49        214634.81     Florida   96778.92
34   46426.07       157693.92        210797.67  California   96712.80
35   46014.02        85047.44        205517.64    New York   96479.51
36   28663.76       127056.21        201126.82     Florida   90708.19
37   44069.95        51283.14        197029.42  California   89949.14
38   20229.59        65947.93        185265.10    New York   81229.06
39   38558.51        82982.09        174999.30  California   81005.76
40   28754.33       118546.05        172795.67  California   78239.91
41   27892.92        84710.77        164470.71     Florida   77798.83
42   23640.93        96189.63        148001.11  California   71498.49
43   15505.73       127382.30         35534.17    New York   69758.98
44   22177.74       154806.14         28334.72  California   65200.33
45    1000.23       124153.04          1903.93    New York   64926.08
46    1315.46       115816.21        297114.46     Florida   49490.75
47       0.00       135426.92             0.00  California   42559.73
48     542.05        51743.15             0.00    New York   35673.41
49       0.00       116983.80         45173.06  California   14681.40

In [4]:
#Removing the presence of dummies in state column & converting categorical value to numerical.
dataset = pd.get_dummies(dataset,drop_first=True)

In [5]:
dataset

,R&D Spend,Administration,Marketing Spend,Profit,State_Florida,State_New York
0,165349.20,136897.80,471784.10,192261.83,0,1
1,162597.70,151377.59,443898.53,191792.06,0,0
2,153441.51,101145.55,407934.54,191050.39,1,0
3,144372.41,118671.85,383199.62,182901.99,0,1
4,142107.34,91391.77,366168.42,166187.94,1,0
5,131876.90,99814.71,362861.36,156991.12,0,1
6,134615.46,147198.87,127716.82,156122.51,0,0
7,130298.13,145530.06,323876.68,155752.60,1,0
8,120542.52,148718.95,311613.29,152211.77,0,1
9,123334.88,108679.17,304981.62,149759.96,0,0
10,101913.08,110594.11,229160.95,146121.95,1,0
11,100671.96,91790.61,249744.55,144259.40,0,0
12,93863.75,127320.38,249839.44,141585.52,1,0
13,91992.39,135495.07,252664.93,134307.35,0,0
14,119943.24,156547.42,256512.92,132602.65,1,0
15,114523.61,122616.84,261776.23,129917.04,0,1
16,78013.11,121597.55,264346.06,126992.93,0,0
17,94657.16,145077.58,282574.31,125370.37,0,1
18,91749.16,114175.79,294919.57,124266.90,1,0
19,86419.70,153514.11,0.00,122776.86,0,1
20,76253.86,113867.30,298664.47,118474.03,0,0
21,78389.47,153773.43,299737.29,111313.02,0,1
22,73994.56,122782.75,303319.26,110352.25,1,0
23,67532.53,105751.03,304768.73,108733.99,1,0
24,77044.01,99281.34,140574.81,108552.04,0,1
25,64664.71,139553.16,137962.62,107404.34,0,0
26,75328.87,144135.98,134050.07,105733.54,1,0
27,72107.60,127864.55,353183.81,105008.31,0,1
28,66051.52,182645.56,118148.20,103282.38,1,0
29,65605.48,153032.06,107138.38,101004.64,0,1
30,61994.48,115641.28,91131.24,99937.59,1,0
31,61136.38,152701.92,88218.23,97483.56,0,1
32,63408.86,129219.61,46085.25,97427.84,0,0
33,55493.95,103057.49,214634.81,96778.92,1,0
34,46426.07,157693.92,210797.67,96712.80,0,0
35,46014.02,85047.44,205517.64,96479.51,0,1
36,28663.76,127056.21,201126.82,90708.19,1,0
37,44069.95,51283.14,197029.42,89949.14,0,0
38,20229.59,65947.93,185265.10,81229.06,0,1
39,38558.51,82982.09,174999.30,81005.76,0,0
40,28754.33,118546.05,172795.67,78239.91,0,0
41,27892.92,84710.77,164470.71,77798.83,1,0
42,23640.93,96189.63,148001.11,71498.49,0,0
43,15505.73,127382.30,35534.17,69758.98,0,1
44,22177.74,154806.14,28334.72,65200.33,0,0
45,1000.23,124153.04,1903.93,64926.08,0,1
46,1315.46,115816.21,297114.46,49490.75,1,0
47,0.00,135426.92,0.00,42559.73,0,0
48,542.05,51743.15,0.00,35673.41,0,1
49,0.00,116983.80,45173.06,14681.40,0,0

In [6]:
#Column renaming
dataset.rename(columns={"State_Florida":"Florida","State_New York":"NewYork"},inplace=True)

In [7]:
#printing the dataset columns
dataset.columns

Index(['R&D Spend', 'Administration', 'Marketing Spend', 'Profit', 'Florida',
       'NewYork'],
      dtype='object')

In [8]:
#separating the input and output values
feature = dataset[["R&D Spend","Administration","Marketing Spend","Florida","NewYork"]]
target = dataset[["Profit"]]

In [9]:
feature,target

(    R&D Spend  Administration  Marketing Spend  Florida  NewYork
 0   165349.20       136897.80        471784.10        0        1
 1   162597.70       151377.59        443898.53        0        0
 2   153441.51       101145.55        407934.54        1        0
 3   144372.41       118671.85        383199.62        0        1
 4   142107.34        91391.77        366168.42        1        0
 5   131876.90        99814.71        362861.36        0        1
 6   134615.46       147198.87        127716.82        0        0
 7   130298.13       145530.06        323876.68        1        0
 8   120542.52       148718.95        311613.29        0        1
 9   123334.88       108679.17        304981.62        0        0
 10  101913.08       110594.11        229160.95        1        0
 11  100671.96        91790.61        249744.55        0        0
 12   93863.75       127320.38        249839.44        1        0
 13   91992.39       135495.07        252664.93        0        0
 14  119943.24       156547.42        256512.92        1        0
 15  114523.61       122616.84        261776.23        0        1
 16   78013.11       121597.55        264346.06        0        0
 17   94657.16       145077.58        282574.31        0        1
 18   91749.16       114175.79        294919.57        1        0
 19   86419.70       153514.11             0.00        0        1
 20   76253.86       113867.30        298664.47        0        0
 21   78389.47       153773.43        299737.29        0        1
 22   73994.56       122782.75        303319.26        1        0
 23   67532.53       105751.03        304768.73        1        0
 24   77044.01        99281.34        140574.81        0        1
 25   64664.71       139553.16        137962.62        0        0
 26   75328.87       144135.98        134050.07        1        0
 27   72107.60       127864.55        353183.81        0        1
 28   66051.52       182645.56        118148.20        1        0
 29   65605.48       153032.06        107138.38        0        1
 30   61994.48       115641.28         91131.24        1        0
 31   61136.38       152701.92         88218.23        0        1
 32   63408.86       129219.61         46085.25        0        0
 33   55493.95       103057.49        214634.81        1        0
 34   46426.07       157693.92        210797.67        0        0
 35   46014.02        85047.44        205517.64        0        1
 36   28663.76       127056.21        201126.82        1        0
 37   44069.95        51283.14        197029.42        0        0
 38   20229.59        65947.93        185265.10        0        1
 39   38558.51        82982.09        174999.30        0        0
 40   28754.33       118546.05        172795.67        0        0
 41   27892.92        84710.77        164470.71        1        0
 42   23640.93        96189.63        148001.11        0        0
 43   15505.73       127382.30         35534.17        0        1
 44   22177.74       154806.14         28334.72        0        0
 45    1000.23       124153.04          1903.93        0        1
 46    1315.46       115816.21        297114.46        1        0
 47       0.00       135426.92             0.00        0        0
 48     542.05        51743.15             0.00        0        1
 49       0.00       116983.80         45173.06        0        0,
        Profit
 0   192261.83
 1   191792.06
 2   191050.39
 3   182901.99
 4   166187.94
 5   156991.12
 6   156122.51
 7   155752.60
 8   152211.77
 9   149759.96
 10  146121.95
 11  144259.40
 12  141585.52
 13  134307.35
 14  132602.65
 15  129917.04
 16  126992.93
 17  125370.37
 18  124266.90
 19  122776.86
 20  118474.03
 21  111313.02
 22  110352.25
 23  108733.99
 24  108552.04
 25  107404.34
 26  105733.54
 27  105008.31
 28  103282.38
 29  101004.64
 30   99937.59
 31   97483.56
 32   97427.84
 33   96778.92
 34   96712.80
 35   96479.51
 36   90708.19
 37   89949.14
 38   81229.06
 39   81005.76
 40   78239.91
 41   77798.83
 42   71498.49
 43   69758.98
 44   65200.33
 45   64926.08
 46   49490.75
 47   42559.73
 48   35673.41
 49   14681.40)

In [10]:
#saving dataset
np.savetxt('dataset_file.txt', dataset)
np.save('dataset_file.npy',dataset)

In [11]:
#splitting the train and test set values
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(feature,target,test_size = 0.33, random_state = 0)

In [12]:
X_train

    R&D Spend  Administration  Marketing Spend  Florida  NewYork
45    1000.23       124153.04          1903.93        0        1
48     542.05        51743.15             0.00        0        1
29   65605.48       153032.06        107138.38        0        1
15  114523.61       122616.84        261776.23        0        1
30   61994.48       115641.28         91131.24        1        0
32   63408.86       129219.61         46085.25        0        0
16   78013.11       121597.55        264346.06        0        0
42   23640.93        96189.63        148001.11        0        0
20   76253.86       113867.30        298664.47        0        0
43   15505.73       127382.30         35534.17        0        1
8   120542.52       148718.95        311613.29        0        1
13   91992.39       135495.07        252664.93        0        0
25   64664.71       139553.16        137962.62        0        0
5   131876.90        99814.71        362861.36        0        1
17   94657.16       145077.58        282574.31        0        1
40   28754.33       118546.05        172795.67        0        0
49       0.00       116983.80         45173.06        0        0
1   162597.70       151377.59        443898.53        0        0
12   93863.75       127320.38        249839.44        1        0
37   44069.95        51283.14        197029.42        0        0
24   77044.01        99281.34        140574.81        0        1
6   134615.46       147198.87        127716.82        0        0
23   67532.53       105751.03        304768.73        1        0
36   28663.76       127056.21        201126.82        1        0
21   78389.47       153773.43        299737.29        0        1
19   86419.70       153514.11             0.00        0        1
9   123334.88       108679.17        304981.62        0        0
39   38558.51        82982.09        174999.30        0        0
46    1315.46       115816.21        297114.46        1        0
3   144372.41       118671.85        383199.62        0        1
0   165349.20       136897.80        471784.10        0        1
47       0.00       135426.92             0.00        0        0
44   22177.74       154806.14         28334.72        0        0

In [13]:
target

       Profit
0   192261.83
1   191792.06
2   191050.39
3   182901.99
4   166187.94
5   156991.12
6   156122.51
7   155752.60
8   152211.77
9   149759.96
10  146121.95
11  144259.40
12  141585.52
13  134307.35
14  132602.65
15  129917.04
16  126992.93
17  125370.37
18  124266.90
19  122776.86
20  118474.03
21  111313.02
22  110352.25
23  108733.99
24  108552.04
25  107404.34
26  105733.54
27  105008.31
28  103282.38
29  101004.64
30   99937.59
31   97483.56
32   97427.84
33   96778.92
34   96712.80
35   96479.51
36   90708.19
37   89949.14
38   81229.06
39   81005.76
40   78239.91
41   77798.83
42   71498.49
43   69758.98
44   65200.33
45   64926.08
46   49490.75
47   42559.73
48   35673.41
49   14681.40

In [14]:
#saving the train and test data.
with open("train_data.pkl", "wb") as file:
    pickle.dump((X_train,Y_train), file)
with open("test_data.pkl", "wb") as file:
    pickle.dump((X_test,Y_test), file)

In [15]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [16]:
from joblib import dump
dump(sc,"standarad_scaler.joblib")

['standarad_scaler.joblib']

In [17]:
X_train

array([[-1.41859108,  0.08007161, -1.46280061, -0.42257713,  1.24034735],
       [-1.42804718, -2.75105709, -1.4772005 , -0.42257713,  1.24034735],
       [-0.08524282,  1.20920221, -0.66688679, -0.42257713,  1.24034735],
       [ 0.92434855,  0.02000827,  0.50267699, -0.42257713,  1.24034735],
       [-0.15976805, -0.25272669, -0.7879527 ,  2.36643191, -0.80622577],
       [-0.13057752,  0.27816764, -1.12864651, -0.42257713, -0.80622577],
       [ 0.17083067, -0.01984459,  0.52211324, -0.42257713, -0.80622577],
       [-0.95132351, -1.01325988, -0.357832  , -0.42257713, -0.80622577],
       [ 0.13452258, -0.3220869 ,  0.78167175, -0.42257713, -0.80622577],
       [-1.11922093,  0.20633131, -1.2084469 , -0.42257713,  1.24034735],
       [ 1.04856916,  1.04056545,  0.87960683, -0.42257713,  1.24034735],
       [ 0.45934048,  0.52352964,  0.433766  , -0.42257713, -0.80622577],
       [-0.1046588 ,  0.68219546, -0.43375555, -0.42257713, -0.80622577],
       [ 1.2824925 , -0.87152415,  1.26720849, -0.42257713,  1.24034735],
       [ 0.51433704,  0.89819281,  0.65997794, -0.42257713,  1.24034735],
       [-0.84579118, -0.13915411, -0.17030469, -0.42257713, -0.80622577],
       [-1.43923421, -0.20023597, -1.13554563, -0.42257713, -0.80622577],
       [ 1.9165203 ,  1.14451467,  1.88011237, -0.42257713, -0.80622577],
       [ 0.49796233,  0.20391032,  0.41239613,  2.36643191, -0.80622577],
       [-0.52970146, -2.76904286,  0.01298107, -0.42257713, -0.80622577],
       [ 0.15083   , -0.8923782 , -0.41399892, -0.42257713,  1.24034735],
       [ 1.33901196,  0.98113238, -0.51124703, -0.42257713, -0.80622577],
       [-0.04547162, -0.63942208,  0.82783976,  2.36643191, -0.80622577],
       [-0.8476604 ,  0.19358163,  0.04397071,  2.36643191, -0.80622577],
       [ 0.17859813,  1.23818877,  0.78978575, -0.42257713,  1.24034735],
       [ 0.34432914,  1.22804971, -1.4772005 , -0.42257713,  1.24034735],
       [ 1.10619897, -0.52493576,  0.82944989, -0.42257713, -0.80622577],
       [-0.6434487 , -1.52965682, -0.1536381 , -0.42257713, -0.80622577],
       [-1.41208524, -0.24588716,  0.76994864,  2.36643191, -0.80622577],
       [ 1.54037969, -0.1342355 ,  1.42103171, -0.42257713,  1.24034735],
       [ 1.97330683,  0.57837448,  2.09101774, -0.42257713,  1.24034735],
       [-1.43923421,  0.52086506, -1.4772005 , -0.42257713, -0.80622577],
       [-0.9815214 ,  1.27856634, -1.2628981 , -0.42257713, -0.80622577]])

In [18]:
X_test

array([[-0.07603728,  2.36704999, -0.58361684,  2.36643191, -0.80622577],
       [ 0.63847282, -1.18525561,  0.41167846, -0.42257713, -0.80622577],
       [ 0.66408753, -0.4500642 ,  0.25599967,  2.36643191, -0.80622577],
       [-0.86356929, -1.46206777, -0.2332684 ,  2.36643191, -0.80622577],
       [ 1.7275513 , -0.81949011,  1.60810794,  2.36643191, -0.80622577],
       [ 0.04895046,  0.22518663,  1.19401482, -0.42257713,  1.24034735],
       [-1.02172808, -2.19566942, -0.07599535, -0.42257713,  1.24034735],
       [-0.17747785,  1.19629418, -0.8099845 , -0.42257713,  1.24034735],
       [ 0.08789427,  0.02649513,  0.81687706,  2.36643191, -0.80622577],
       [ 1.49363229, -1.20084971,  1.29222059,  2.36643191, -0.80622577],
       [-0.29392851, -0.74473584,  0.14613493,  2.36643191, -0.80622577],
       [-0.48957899, -1.44890443,  0.07717955, -0.42257713,  1.24034735],
       [ 0.11543228,  0.86137752, -0.46334712,  2.36643191, -0.80622577],
       [-0.48107494,  1.39147463,  0.1171137 , -0.42257713, -0.80622577],
       [ 0.4543206 , -0.31002536,  0.75334816,  2.36643191, -0.80622577],
       [ 1.24990923,  0.91588416,  0.97235784,  2.36643191, -0.80622577],
       [ 1.03620098,  1.34664803,  0.46286929,  2.36643191, -0.80622577]])

In [19]:
#Model creation & training
from sklearn.svm import SVR
model_svm = SVR(kernel = "rbf",C=1000)
model_svm.fit(X_train,Y_train)

/home/had/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVR(C=1000)

In [20]:
model_svm.intercept_

array([108085.06854154])

In [21]:
model_svm.n_support_

array([33], dtype=int32)

In [22]:
#Prediction using preprocessed input dataset
Y_pred = model_svm.predict(X_test)

In [23]:
#Prediction in Raw dataset
print("Profit are =\n", Y_pred)

Profit are =
 [107766.01198819 109760.85976395 108717.04885042 106609.72629378
 109405.23420481 111948.29921508 106425.56272191 107700.3674574
 108551.29424927 109286.53578534 107280.98760908 107560.72348952
 107502.73702254 107936.54419791 108942.32798489 109527.5903368
 109084.04796278]

In [24]:
Y_test

       Profit
28  103282.38
11  144259.40
10  146121.95
41   77798.83
2   191050.39
27  105008.31
38   81229.06
31   97483.56
22  110352.25
4   166187.94
33   96778.92
35   96479.51
26  105733.54
34   96712.80
18  124266.90
7   155752.60
14  132602.65

In [25]:
#Evaluation metrics using Raw test_input & Raw_output
from sklearn.metrics import r2_score
r2value = r2_score(Y_test,Y_pred)

In [26]:
#Evaluation metrics result
r2value

-0.08004178386944938

In [27]:
#Saving best model phase in .sav file format using pickle library
import pickle
filename = "bestmodel_svm_preinput.sav"
pickle.dump(model_svm,open(filename,"wb"))

In [28]:
#converting the Raw_input to pre_processed input using python code
preproc_input= sc.transform([[13000,12000,4000,0,1]])

/home/had/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

In [29]:
#Converting the user input to preprocessed input
preproc_input

array([[-1.17093516, -4.30496048, -1.44694752, -0.42257713,  1.24034735]])

In [30]:
#loading the saved model & predicting the preprocessed input
loaded_model=pickle.load(open("bestmodel_svm_preinput.sav","rb"))
result = loaded_model.predict(preproc_input)

In [31]:
#output in Raw state(human understandable form)
result

array([107181.20623513])

In [32]:
#giving Dyanmic input
dy_rnd = float(input("Enter RND value:"))
dy_admin =float(input("Enter admin value:"))
dy_markspnd =float(input("Enter the marketspend:"))
dy_florida = int(input("Enter the value 0 or 1:"))
dy_newyork = int(input("Enter the value 0 or 1:"))

Enter RND value:13000
Enter admin value:12000
Enter the marketspend:4000
Enter the value 0 or 1:0
Enter the value 0 or 1:1

In [33]:
dyn_inp_result =loaded_model.predict(sc.transform([[dy_rnd,dy_admin,dy_markspnd,dy_florida,dy_newyork]]))

/home/had/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

In [34]:
#output in raw state.
dyn_inp_result

array([107181.20623513])