In [1]:
#importing libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
#dataset reading
dts = pd.read_csv("insurance_pre.csv")

In [3]:
dts

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dts.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'charges'], dtype='object')

In [5]:
dts = pd.get_dummies(dts,drop_first=True)

In [6]:
dts

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [7]:
#columns rename-ing
dts.rename(columns={"sex_male":"sex","smoker_yes":"smoker"},inplace=True)

In [8]:
dts

      age     bmi  children      charges  sex  smoker
0      19  27.900         0  16884.92400    0       1
1      18  33.770         1   1725.55230    1       0
2      28  33.000         3   4449.46200    1       0
3      33  22.705         0  21984.47061    1       0
4      32  28.880         0   3866.85520    1       0
...   ...     ...       ...          ...  ...     ...
1333   50  30.970         3  10600.54830    1       0
1334   18  31.920         0   2205.98080    0       0
1335   18  36.850         0   1629.83350    0       0
1336   21  25.800         0   2007.94500    0       0
1337   61  29.070         0  29141.36030    0       1

[1338 rows x 6 columns]

In [9]:
#separate the input and output values
feature = dts[["age","bmi","children","sex","smoker"]]
target = dts[["charges"]]

In [10]:
feature,target

(      age     bmi  children  sex  smoker
 0      19  27.900         0    0       1
 1      18  33.770         1    1       0
 2      28  33.000         3    1       0
 3      33  22.705         0    1       0
 4      32  28.880         0    1       0
 ...   ...     ...       ...  ...     ...
 1333   50  30.970         3    1       0
 1334   18  31.920         0    0       0
 1335   18  36.850         0    0       0
 1336   21  25.800         0    0       0
 1337   61  29.070         0    0       1

 [1338 rows x 5 columns],
           charges
 0     16884.92400
 1      1725.55230
 2      4449.46200
 3     21984.47061
 4      3866.85520
 ...           ...
 1333  10600.54830
 1334   2205.98080
 1335   1629.83350
 1336   2007.94500
 1337  29141.36030

 [1338 rows x 1 columns])

In [11]:
#splitting the train & test sets.
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train,Y_test = train_test_split(feature,target,test_size=0.33,random_state=0)

In [12]:
X_train, X_test

(      age     bmi  children  sex  smoker
 1271   25  34.485         0    0       0
 1313   19  34.700         2    0       1
 2      28  33.000         3    1       0
 405    52  38.380         2    0       0
 482    18  31.350         0    0       0
 ...   ...     ...       ...  ...     ...
 763    27  26.030         0    1       0
 835    42  35.970         2    1       0
 1216   40  25.080         0    1       0
 559    19  35.530         0    1       0
 684    33  18.500         1    0       0

 [896 rows x 5 columns],
       age     bmi  children  sex  smoker
 578    52  30.200         1    1       0
 610    47  29.370         1    0       0
 569    48  40.565         2    1       1
 1034   61  38.380         0    1       0
 198    51  18.050         0    0       0
 ...   ...     ...       ...  ...     ...
 117    29  27.940         1    0       1
 520    50  27.360         0    0       0
 422    40  32.775         1    1       1
 294    25  26.800         3    1       0
 261    20  26.840         1    0       1

 [442 rows x 5 columns])

In [13]:
Y_train, Y_test

(          charges
 1271   3021.80915
 1313  36397.57600
 2      4449.46200
 405   11396.90020
 482    1622.18850
 ...           ...
 763    3070.80870
 835    7160.33030
 1216   5415.66120
 559    1646.42970
 684    4766.02200

 [896 rows x 1 columns],
           charges
 578    9724.53000
 610    8547.69130
 569   45702.02235
 1034  12950.07120
 198    9644.25250
 ...           ...
 117   19107.77960
 520   25656.57526
 422   39125.33225
 294    3906.12700
 261   17085.26760

 [442 rows x 1 columns])

In [61]:
from sklearn.ensemble import AdaBoostRegressor
model1_create = AdaBoostRegressor(n_estimators=50,loss="exponential",learning_rate=2.0, random_state=0)
model1_create = model1_create.fit(X_train,Y_train)

/home/had/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [62]:
Y_pred1 = model1_create.predict(X_test)

In [63]:
Y_pred1

array([19547.78925352, 18691.83508163, 50669.28822256, 18451.21164606,
       18372.14839241, 12001.09636736, 11412.35719342, 19914.78071403,
       15151.43879304, 13715.4820265 , 14197.28341877, 19597.9013632 ,
       17095.91102202, 11690.37250379, 24991.69316667, 20343.26067866,
       18372.14839241, 13513.12973845, 14522.19117439, 42019.62093375,
       29002.5048325 , 23302.09459284, 19333.81272295, 29932.29043879,
       11659.92551343, 15082.61730314, 13348.29709267, 17945.7757016 ,
       11690.37250379, 19128.63410086, 17353.08198528, 51652.12334412,
       18836.89615392, 18836.89615392, 20747.98463   , 11690.37250379,
       18836.89615392, 44095.61969333, 45532.67051869, 12131.37501995,
       13787.60411983, 11659.92551343, 28096.76918714, 51344.83564833,
       43872.18672778, 13513.12973845, 20343.26067866, 15989.66247074,
       13871.96288329, 24215.26080482, 12131.37501995, 11651.07079693,
       29932.29043879, 49751.40363727, 20173.24508476, 13114.57908485,
       13114.57908485, 17255.33266821, 16824.10409494, 22423.03524921,
       11271.88959384, 46236.77737238, 23414.72760606, 19547.78925352,
       19128.63410086, 18836.89615392, 35824.4922625 , 44490.3887365 ,
       13513.12973845, 17353.08198528, 22814.27586819, 22423.03524921,
       21991.17136565, 23302.09459284, 20317.9817062 , 22814.27586819,
       17003.83310386, 19128.63410086, 24991.69316667, 49596.16274154,
       22423.03524921, 48541.30026111, 11659.92551343, 18005.47139341,
       45825.89505772, 24772.90615821, 13871.96288329, 11879.61560767,
       22814.27586819, 44299.07232824, 15691.85798909, 20173.24508476,
       12240.84592336, 19597.9013632 , 11879.61560767, 13787.60411983,
       50669.28822256, 45229.74047293, 14455.89586275, 18005.47139341,
       11659.92551343, 14522.19117439, 14455.89586275, 45229.74047293,
       29597.55811519, 13348.29709267, 19547.78925352, 12597.68250072,
       19119.37068022, 51344.83564833, 22062.6203346 , 15151.43879304,
       19128.63410086, 42398.76292   , 51652.12334412, 16646.57879965,
       12472.41597615, 17255.33266821, 22845.19835403, 19128.63410086,
       45882.82793889, 19333.81272295, 22814.27586819, 15151.43879304,
       18691.83508163, 14197.28341877, 30387.063928  , 28632.70568   ,
       53054.99333702, 12597.68250072, 19597.9013632 , 11690.37250379,
       14877.33784319, 17255.33266821, 30932.89168111, 44419.08297595,
       28807.25729192, 19597.9013632 , 28632.70568   , 11690.37250379,
       11879.61560767, 20274.91116326, 19128.63410086, 18836.89615392,
       12240.84592336, 23302.09459284, 24208.29490907, 14197.28341877,
       11651.07079693, 20274.91116326, 14522.19117439, 44299.07232824,
       18413.5132092 , 11651.07079693, 13348.29709267, 17353.08198528,
       12597.68250072, 11412.35719342, 20343.26067866, 19128.63410086,
       13715.4820265 , 18451.21164606, 20317.9817062 , 18005.47139341,
       13348.29709267, 14455.89586275, 20009.587175  , 14455.89586275,
       12240.84592336, 11271.88959384, 14455.89586275, 13114.57908485,
       17945.7757016 , 13114.57908485, 13715.4820265 , 14455.89586275,
       13871.96288329, 14455.89586275, 30932.89168111, 10879.67405027,
       21152.1951293 , 15151.43879304, 19119.37068022, 11879.61560767,
       13871.96288329, 30414.67558286, 11659.92551343, 12309.67910668,
       23302.09459284, 19333.81272295, 49596.16274154, 14455.89586275,
       13871.96288329, 28807.25729192, 13114.57908485, 11659.92551343,
       15151.43879304, 15691.85798909, 15151.43879304, 12240.84592336,
       21152.1951293 , 51344.83564833, 23179.69549697, 24991.69316667,
       13715.4820265 , 48541.30026111, 12472.41597615, 18005.47139341,
       16078.7283157 , 11271.88959384, 18021.89734636, 22814.27586819,
       13348.29709267, 12131.37501995, 16824.10409494, 11659.92551343,
       14455.89586275, 13871.96288329, 24703.47677307, 14877.33784319,
       15691.85798909, 15151.43879304, 18372.14839241, 11690.37250379,
       20343.26067866, 18451.21164606, 22845.19835403, 20343.26067866,
       14522.19117439, 11659.92551343, 11271.88959384, 18005.47139341,
       23302.09459284, 12309.67910668, 13114.57908485, 17353.08198528,
       19128.63410086, 42398.76292   , 14455.89586275, 21152.1951293 ,
       13787.60411983, 43254.78601357, 18005.47139341, 15082.61730314,
       17945.7757016 , 19547.78925352, 11690.37250379, 17095.91102202,
       13348.29709267, 15989.66247074, 24991.69316667, 46168.27213375,
       14522.19117439, 13871.96288329, 11412.35719342, 11566.77072639,
       18005.47139341, 11659.92551343, 12472.41597615, 14282.10810603,
       19128.63410086, 29932.29043879, 50669.28822256, 24305.20015437,
       16824.10409494, 18005.47139341, 45229.74047293, 19128.63410086,
       45229.74047293, 11271.88959384, 43872.18672778, 14455.89586275,
       22814.27586819, 13513.12973845, 45229.74047293, 14282.10810603,
       18005.47139341, 19128.63410086, 12597.68250072, 24305.20015437,
       22423.03524921, 13715.4820265 , 18451.21164606, 11651.07079693,
       16078.7283157 , 13114.57908485, 16305.9186469 , 28868.53538036,
       13871.96288329, 10879.67405027, 11879.61560767, 46961.19646167,
       17945.7757016 , 13787.60411983, 23302.09459284, 22814.27586819,
       42398.76292   , 17095.91102202, 13787.60411983, 17398.67767333,
       11438.29469727, 13114.57908485, 20747.98463   , 21991.17136565,
       22603.11039382, 11659.92551343, 13787.60411983, 19597.9013632 ,
       18005.47139341, 20009.587175  , 27912.39194583, 15691.85798909,
       20009.587175  , 11659.92551343, 16422.32696244, 11879.61560767,
       17095.91102202, 11690.37250379, 15082.61730314, 49751.40363727,
       13871.96288329, 13787.60411983, 11659.92551343, 17671.14870566,
       13114.57908485, 20343.26067866, 46961.19646167, 20979.9714163 ,
       18021.89734636, 46961.19646167, 23302.09459284, 13715.4820265 ,
       18413.5132092 , 15082.61730314, 29932.29043879, 13503.65486437,
       20317.9817062 , 11438.29469727, 20747.98463   , 13348.29709267,
       29932.29043879, 14282.10810603, 11659.92551343, 43872.18672778,
       14455.89586275, 13114.57908485, 30999.87599725, 11438.29469727,
       17945.7757016 , 11438.29469727, 19333.81272295, 13871.96288329,
       15691.85798909, 13715.4820265 , 51344.83564833, 17095.91102202,
       42704.25054625, 43872.18672778, 14455.89586275, 17945.7757016 ,
       11271.88959384, 11690.37250379, 12309.67910668, 18021.89734636,
       50669.28822256, 19547.78925352, 11438.29469727, 18372.14839241,
       12597.68250072, 17671.14870566, 12240.84592336, 12240.84592336,
       12240.84592336, 43872.18672778, 14522.19117439, 11651.07079693,
       45697.84070722, 21152.1951293 , 47308.575039  , 19547.78925352,
       13787.60411983, 11690.37250379, 11659.92551343, 19914.78071403,
       13513.12973845, 11651.07079693, 20343.26067866, 14877.33784319,
       15151.43879304, 13513.12973845, 11659.92551343, 45229.74047293,
       11659.92551343, 18372.14839241, 11659.92551343, 17945.7757016 ,
       18005.47139341, 14455.89586275, 21689.20675286, 18005.47139341,
       22614.4817454 , 20317.9817062 , 11412.35719342, 14455.89586275,
       20894.56513787, 17095.91102202, 13114.57908485, 11659.92551343,
       42398.76292   , 20173.24508476, 17945.7757016 , 18451.21164606,
       18021.89734636, 22062.6203346 , 51652.12334412, 13513.12973845,
       17142.67568134, 11659.92551343, 24423.04995376, 12597.68250072,
       14877.33784319, 11271.88959384, 20173.24508476, 14455.89586275,
       19547.78925352, 49596.16274154, 13787.60411983, 41040.72915929,
       21991.17136565, 18005.47139341, 18372.14839241, 43872.18672778,
       17671.14870566, 11690.37250379, 18005.47139341, 27912.39194583,
       43872.18672778, 24772.90615821, 19128.63410086, 45532.67051869,
       13114.57908485, 21991.17136565])

In [64]:
from sklearn.metrics import r2_score
rscore1 = r2_score(Y_test,Y_pred1)

In [65]:
rscore1

0.5466912617387896